  <div
        class="carousel slide carousel-fade"
        data-ride="carousel"
        data-interval="2000"
        id="myCarousel"
      >
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img
              src="images/beautiful-nature-mountain-scenery-with-flowers-free-photo.webp"
              alt=""
            />
            <p class="carousel-caption">image 1</p>
          </div>
          <div class="carousel-item">
            <img src="images/generatedHeaderImage-1662578814159.jpg" alt="" />
            <p class="carousel-caption">image 2</p>
          </div>
          <div class="carousel-item">
            <img
              src="images/wallpapersden.com_love-and-nature_1920x1080.jpg"
              alt=""
            />
            <p class="carousel-caption">image 3</p>
          </div>
        </div>

        <a href="#myCarousel" class="carousel-control-prev" data-slide="prev">
          <span class="carousel-control-prev-icon"></span>
        </a>
        <a href="#myCarousel" class="carousel-control-next" data-slide="next">
          <span class="carousel-control-next-icon"></span>
        </a>

        <ul class="carousel-indicators">
            <li data-slide-to="0" data-target="#myCarousel" class="active"></li>
            <li data-slide-to="1" data-target="#myCarousel"></li>
            <li data-slide-to="2" data-target="#myCarousel"></li>
        </ul>
      </div>